<template>
  <div id="container" ref="cont">
    <div id="toolbar">
      <div id="toolbar-document-buttons">
        <div class="d-flex gap-2">
          <b-button
            variant="outlined-primary"
            v-on:click="saveChanges"
            class="d-flex gap-1 header-button"
            ><b-icon
              variant="primary"
              class="header-icon-margin"
              icon="save"
              scale="0.8"
            ></b-icon>
            <div>Save</div></b-button
          >
          <b-button
            variant="outlined-primary"
            class="d-flex gap-1 header-button"
            v-on:click="exitEditor"
          >
            <b-icon
              variant="danger"
              class="header-icon-margin"
              icon="door-closed"
              scale="0.8"
            ></b-icon
            >Exit editor</b-button
          >
          <b-button
            variant="outlined-primary"
            class="d-flex gap-1 header-button"
            v-on:click="goToDocumentation"
            >Go to Documentation
            <b-icon
              class="header-icon-margin"
              icon="arrow-right"
              scale="0.8"
            ></b-icon
          ></b-button>
          <div id="editor-title">
            <h3>GitBuilding Live Editor</h3>
          </div>
        </div>
      </div>
    </div>
    <div id="include_select_bar" v-if="includeOptions">
      <strong>This page's content is embedded in other pages.</strong> Render
      this page
      <select class="form-control" @change="updateInclude($event)">
        <option value="" selected>on its own</option>
        <option v-for="include in includeList" :value="include" :key="include"
          >within {{ include }}</option
        >
      </select>
    </div>
    <div id="duplicate_warning_bar">
      <div id="duplicate_warning" v-html="duplicateWarning"></div>
    </div>
    <div id="editor">
      <div id="editor-panel" v-bind:style="{ width: editor_width }">
        <ToolbarButtons
          :parent="this.$refs"
          :showPartLinkModal="showPartLinkModal"
          @updatePartLinkModalFunction="updateShowPartLinkModal"
        />
        <textarea
          ref="edtext"
          v-bind:value="editor_text"
          v-on:input="updateFromEditor"
        ></textarea>
      </div>
      <div id="dragbar" ref="dragbar"></div>
      <div
        id="preview-panel"
        ref="previewPanel"
        v-bind:style="{
          width: preview_width,
          'grid-template-rows': preview_rows
        }"
      >
        <div id="preview-window" v-html="compiledMarkdown"></div>
        <div
          id="warning-counter"
          ref="warningcounter"
          v-bind:style="{ background: warningColour }"
        >
          {{ warningNumber }} {{ warningShowMsg }}
        </div>
        <div id="warning-window" v-html="compilerLog"></div>
      </div>
    </div>
    <div
      id="saving-background"
      v-bind:style="{ visibility: saveMessageVisible }"
    >
      <div id="saving-message">
        Please wait while project rebuilds
        <vue-simple-spinner v-if="saveMessageVisible" size="medium" />
      </div>
    </div>
    <PartLinkModal v-model="showPartLinkModal" @insertPartLink="addPartLink" />
  </div>
</template>

<script>
import PartLinkModal from "./PartLinkModal.vue";
import ToolbarButtons from "./ToolBarButtons.vue";
export default {
  name: "BuildUpEditor",

  components: { PartLinkModal, ToolbarButtons },

  data() {
    return {
      saving: false,
      saved_text: "",
      editor_text: "",
      editor_text_debounced: "",
      duplicated_by: [],
      included_by: [],
      show_within: "",
      page: "",
      compilerOutput: new Promise(function(resolve) {
        resolve({ data: { html: "", number: 0, log: "" } });
      }),
      dragAndDropCapable: false,
      files: [],
      uploadedFiles: [],
      editor_width: "49.75%",
      preview_width: "49.75%",
      preview_rows: "auto 24px 0",
      warnings_visible: false,
      showPartLinkModal: false
    };
  },

  mounted() {
    // Check all click events on the preview to see if they are
    // a goto event form the edit icons
    this.$refs.previewPanel.addEventListener("click", event => {
      const id = event.target.id;
      const regexGoto = /goto-line-([0-9]+)--([0-9]+)/;
      const match = id.match(regexGoto);
      if (match) {
        const line = Number(match[1]);
        const lineEnd = Number(match[2]);
        const textarea = this.$refs.edtext;
        //Select the position at the start of the line
        textarea.setSelectionRange(line, line);
        // Focus and unfocus the window so the chromium based browsers
        // jump to position. Unfocus is so that the parageaph can't be affected
        // by the quick highlight coming up
        textarea.focus();
        textarea.blur();
        // Select the full line for 1/4 of a second to catch the eye
        textarea.selectionEnd = lineEnd;
        setTimeout(() => {
          textarea.selectionEnd = line;
        }, 250);
        // Re-focus on the textarea
        textarea.focus();
      }
    });
    window.addEventListener("keydown", event => {
      if (event.ctrlKey || event.metaKey) {
        switch (String.fromCharCode(event.which).toLowerCase()) {
          case "s":
            event.preventDefault();
            this.saveChanges();
            break;
        }
      }
    });
    window.addEventListener("beforeunload", this.checkSave);
    this.$refs.dragbar.addEventListener("mousedown", this.enable_dragbar);

    this.$refs.warningcounter.addEventListener("click", this.hideshow_warnings);

    this.dragAndDropCapable = this.determineDragAndDropCapable();

    if (this.dragAndDropCapable) {
      //Listen to all of the drag events and bind an event listener to each for the editor textbox.
      [
        "drag",
        "dragstart",
        "dragend",
        "dragover",
        "dragenter",
        "dragleave",
        "drop"
      ].forEach(
        function(evt) {
          /* For each event add an event listener that prevents the default action (opening the file in the browser)
        and stop the propagation of the event (so no other elements open the file in the browser)*/
          this.$refs.edtext.addEventListener(
            evt,
            function(e) {
              e.preventDefault();
              e.stopPropagation();
            }.bind(this),
            false
          );
        }.bind(this)
      );

      //Add an event listener for files dropped into editor
      this.$refs.edtext.addEventListener(
        "drop",
        function(e) {
          // Capture the files from the drop event and submit them
          for (let i = 0; i < e.dataTransfer.files.length; i++) {
            this.files.push(e.dataTransfer.files[i]);
          }
          this.submitFiles();
        }.bind(this)
      );
    }
  },

  watch: {
    watched_content: function() {
      this.compilerOutput = this.$http.post("render_markdown", {
        md: this.editor_text_debounced,
        page: this.page,
        show_within: this.show_within
      });
    }
  },

  asyncComputed: {
    watched_content() {
      return { md: this.editor_text_debounced, show_within: this.show_within };
    },
    compiledMarkdown() {
      return this.compilerOutput.then(r => r.data.html);
    },
    compilerLog() {
      return this.compilerOutput.then(r => r.data.log);
    },
    warningNumber() {
      return this.compilerOutput.then(function(r) {
        if (r.data.number > 1) {
          return "There are " + r.data.number + " warnings on this page.";
        } else if (r.data.number == 1) {
          return "There is 1 warning on this page.";
        } else {
          return "There are no warnings on this page.";
        }
      });
    },
    warningColour() {
      return this.compilerOutput.then(function(r) {
        return r.data.number > 0 ? "#fb9e9e" : "#9efb9e";
      });
    },
    warningShowMsg() {
      return this.warnings_visible ? "(Click to hide)" : "(Click to show)";
    },
    saveMessageVisible() {
      return this.saving ? "visible" : "hidden";
    },
    includeList() {
      return this.included_by;
    },
    includeOptions() {
      return this.included_by.length > 0;
    },
    duplicateWarning() {
      if (this.duplicated_by.length > 0) {
        var dup_text =
          "Note. You are editing the instructions for the following:";
        for (var i = 0; i < this.duplicated_by.length; i++) {
          dup_text += ' "' + this.duplicated_by[i] + '"';
        }
        return dup_text;
      } else {
        return "";
      }
    }
  },

  methods: {
    goToDocumentation() {
      window.open("https://gitbuilding.io/usage/buildup");
    },

    updateFromEditor(e) {
      this.editor_text = e.target.value;
    },

    updateFromServer() {
      this.$http.get("raw").then(function(response) {
        this.editor_text = response.body.md;
        this.editor_text_debounced = this.editor_text;
        this.saved_text = this.editor_text;
        this.page = response.body.page;
        this.duplicated_by = response.body.duplicated_by;
        this.included_by = response.body.included_by;
      });
    },

    updateInclude(event) {
      this.show_within =
        event.target.options[event.target.options.selectedIndex].value;
    },

    //This is instead of the debounce on `updateFromEditor` seems to stop the cursor jumping
    pollEditor() {
      setInterval(() => {
        this.editor_text_debounced = this.editor_text;
      }, 500);
    },

    saveChanges() {
      this.saving = true;
      this.$http
        .post("save", {
          md: this.editor_text,
          page: this.page,
          uploadedFiles: this.uploadedFiles
        })
        .then(response => {
          this.saving = false;
          if (response.body.saved) {
            this.saved_text = this.editor_text;
          } else {
            this.$fire({
              type: "error",
              text: "Save completed with error.",
              title: "Error",
              heightAuto: false
            });
          }
        })
        .catch(error => {
          this.saving = false;
          console.error(error);
          this.$fire({
            type: "error",
            text: "Save completed with error.",
            title: "Error",
            heightAuto: false
          });
        });
    },

    checkSave(e) {
      if (this.saved_text == this.editor_text) return;
      e.returnValue = `Are you sure you want to leave?`;
    },

    exitEditor() {
      window.location.href = window.location.href.replace(/\/-\/editor\//, "");
    },

    clearEditorSelection() {
      const textarea = this.$refs.edtext;
      textarea.selectionStart = textarea.selectionEnd;
    },

    editorHasTextSelected() {
      const textarea = this.$refs.edtext;
      return textarea.selectionStart !== textarea.selectionEnd;
    },

    insertEditorText(text) {
      const textarea = this.$refs.edtext;
      textarea.focus();
      document.execCommand("insertText", false, text);
    },

    addPartLink(partLink) {
      if (this.editorHasTextSelected()) {
        this.clearEditorSelection();
      }
      this.insertEditorText(partLink);
    },
    updateShowPartLinkModal(value) {
      this.showPartLinkModal = value;
    },
    enable_dragbar() {
      this.$refs.cont.addEventListener("mousemove", this.bar_dragged);
      this.$refs.cont.addEventListener("mouseup", this.disable_dragbar);
    },

    disable_dragbar() {
      this.$refs.cont.removeEventListener("mouseup", this.disable_dragbar);
      this.$refs.cont.removeEventListener("mousemove", this.bar_dragged);
    },

    bar_dragged(e) {
      var pos = (100 * e.pageX) / this.$refs.cont.clientWidth;
      this.editor_width = pos - 0.5 + "%";
      this.preview_width = 100 - pos + "%";
    },

    hideshow_warnings() {
      this.warnings_visible = !this.warnings_visible;
      if (this.warnings_visible) {
        this.preview_rows = "70% 24px auto";
      } else {
        this.preview_rows = "auto 24px 0";
      }
    },

    //Determines if the drag and drop functionality available
    determineDragAndDropCapable() {
      //Create a test element to see if certain events are present that let us do drag and drop.
      var div = document.createElement("div");
      return (
        ("draggable" in div || ("ondragstart" in div && "ondrop" in div)) &&
        "FormData" in window &&
        "FileReader" in window
      );
    },

    submitFiles() {
      let formData = new FormData();
      //loop over files
      for (var i = 0; i < this.files.length; i++) {
        let file = this.files[i];
        formData.append("files[" + i + "]", file);
      }
      this.files = [];
      //post files
      this.$axios
        .post("dropped-file", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(
          function(response) {
            for (var i = 0; i < response.data.filenames.length; i++) {
              this.uploadedFiles.push(response.data.filenames[i]);
            }
            if (this.editorHasTextSelected()) {
              this.clearEditorSelection();
            }
            this.insertEditorText("\n" + response.data.md_line + "\n");
          }.bind(this)
        )
        .catch(error => {
          console.error(error);
          this.$fire({
            type: "error",
            text: "Upload completed with an error.",
            title: "Error",
            heightAuto: false
          });
        });
    }
  },

  created() {
    this.updateFromServer();
    this.pollEditor();
  }
};
</script>

<style>
p.fussywarning {
  background: #fbe09e;
}

p.warning {
  background: #fb9e9e;
}
</style>

<style scoped>
#container {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#toolbar {
  flex: 0 1 auto;
  background: white;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
}

#toolbar h2,
#toolbar h3 {
  display: inline;
}

#toolbar-controls {
  display: block;
  float: left;
}

.header-button:hover {
  font-weight: bold;
  text-decoration: underline black;
}

#editor-title {
  display: block;
  float: right;
  margin-left: auto;
}

#duplicate_warning_bar {
  border-bottom: 1px solid gray;
  background: #fb9e9e;
}

#include_select_bar {
  border-bottom: 1px solid gray;
  background: #9ef8fb;
  text-align: center;
}

#duplicate_warning {
  text-align: center;
}

#editor {
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  min-width: 0;
  min-height: 0;
}

#preview-panel,
#editor-panel,
#dragbar {
  height: 98%;
  box-sizing: border-box;
}

#preview-panel {
  border-left: 1px solid gray;
  display: grid;
  grid-template-columns: 100%;
}

#editor-panel {
  overflow: hidden;
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
}

#dragbar {
  background: #ebebeb;
  width: 0.5%;
  border-bottom: 1px solid gray;
  cursor: ew-resize;
}

#preview-window {
  overflow: auto;
  width: 100%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

#saving-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

#saving-message {
  top: 40%;
  left: 35%;
  height: 20%;
  width: 30%;
  position: relative;
  background: #fff;
  text-align: center;
  padding: 20px;
}

#warning-counter {
  padding: 2px 10px 2px 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  cursor: pointer;
}

#warning-window {
  overflow: auto;
  background: #f6f6f6;
  padding: 10px;
}

#editor-panel textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

textarea {
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  padding: 0;
  margin: 0;
  border: none;
}

code {
  color: #f66;
}
</style>
