<template>
  <div class="directory-viewer">
    <input
      class="form-control"
      id="path-input"
      v-model="pathInput"
      @keyup="pathKeyUp"
      v-bind:class="{ 'path-input-changed': path !== pathInput }"
    />
    <div id="directory-table-container">
      <table id="directory-view-table">
        <tr v-if="path !== ''" @dblclick="dblClickDir('..')">
          <td>
            <img class="dir-view-icon" src="@/assets/folder.svg" />
            ..
          </td>
        </tr>
        <tr
          v-for="(dir, index) in directoryList"
          v-bind:key="'dir-' + index"
          @click="clickItem('dir-' + index)"
          @dblclick="dblClickDir(dir)"
        >
          <td v-bind:class="{ 'active-item': selected === 'dir-' + index }">
            <img class="dir-view-icon" src="@/assets/folder.svg" />
            {{ dir }}
          </td>
        </tr>
        <tr
          v-for="(file, index) in fileList"
          v-bind:key="'file-' + index"
          @click="clickItem('file-' + index)"
        >
          <td v-bind:class="{ 'active-item': selected === 'file-' + index }">
            <img class="dir-view-icon" src="@/assets/file.svg" />
            {{ file }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
export default {
  name: "DirectoryViewer",

  components: {},

  data() {
    return {
      publicPath: process.env.BASE_URL,
      pathInput: "",
      path: "",
      directoryList: [],
      fileList: [],
      selected: null
    };
  },

  props: {
    startingPath: String
  },

  mounted() {},

  watch: {
    selected: function(val) {
      var selectionName = null;
      var selectionType = null;
      if (typeof val === "string") {
        const selection = val.split("-");

        if (selection[0] === "dir") {
          selectionName = this.directoryList[Number(selection[1])];
          selectionType = "dir";
        } else {
          selectionName = this.fileList[Number(selection[1])];
          selectionType = "file";
        }
      }
      this.$emit("selectionChanged", {
        selectionName: selectionName,
        selectionType: selectionType,
        currentPath: this.path
      });
    }
  },

  asyncComputed: {},

  methods: {
    getFileList(newPath) {
      this.selected = null;
      this.$http
        .post("/-/list-files", {
          path: newPath
        })
        .then(response => {
          if (response.body.completed) {
            this.path = response.body.normpath;
            this.directoryList = response.body.directoryList;
            this.fileList = response.body.fileList;
            this.emitSelectionForNewPath();
            this.pathInput = response.body.normpath;
            return true;
          } else {
            this.$fire({
              type: "error",
              text: response.body.msg,
              title: "Error",
              heightAuto: false
            });
            this.pathInput = this.path;
            return false;
          }
        })
        .catch(error => {
          console.error(error);
          this.$fire({
            type: "error",
            text: "Unknown problem opening directory.",
            title: "Error",
            heightAuto: false
          });
          this.pathInput = this.path;
          return false;
        });
    },
    emitSelectionForNewPath() {
      this.$emit("selectionChanged", {
        selectionName: null,
        selectionType: null,
        currentPath: this.path
      });
    },
    pathUpdated(newPath) {
      this.getFileList(newPath);
    },
    pathKeyUp(event) {
      if (event.key === "Enter") {
        var newPath = this.pathInput;
        this.pathUpdated(newPath);
      }
    },
    clickItem(item) {
      if (item === this.selected) {
        this.selected = null;
      } else {
        this.selected = item;
      }
    },
    dblClickDir(dir) {
      var newPath = "";
      if (this.path === "") {
        newPath = dir;
      } else {
        newPath = this.path + "/" + dir;
      }
      this.pathUpdated(newPath);
    }
  },

  created() {
    var newPath = "";
    if (this.startingPath) {
      newPath = this.startingPath;
    }
    this.getFileList(newPath);
  }
};
</script>

<style scoped>
.directory-viewer {
  position: relative;
  width: 100%;
  height: calc(100% - 120px);
  border-top: 1px solid gray;
}

.dir-view-icon {
  width: 16px;
  height: 16px;
}

.active-item {
  background: #cefff6;
}

#path-input {
  margin: 10px 20px 0 20px;
  width: 80%;
}

#directory-table-container {
  overflow: auto;
  height: 100%;
  border: 1px solid;
  margin: 20px;
  width: 90%;
}
#directory-view-table {
  width: 100%;
}

.path-input-changed {
  background: rgb(236, 197, 197);
}
</style>
