<template>
  <div>
    <b-card class="mt-3">
      <template #header>
        <h4 class="mb-0">Project Details</h4>
      </template>
      <div class="d-flex flex-column">
        <div class="d-flex flex-column">
          <div v-if="!titleOverride">
            <div class="d-flex">
              <label class="form-top-level-label " for="title"
                >Project title:</label
              >
              <b-form-input
                v-model="configJson.Title"
                type="text"
                name="title"
                size="50"
              />
            </div>

            <div class="form-info">
              A title for your project
            </div>
          </div>

          <div>
            <div class="form-label-like-title">Authors:</div>
            <div class="form-info">
              The authors of this project.
            </div>
          </div>
          <div
            class="d-flex mt-3 justify-content-between gap-2"
            v-for="(author, i) in configJson.Authors"
            v-bind:key="'author-' + i"
          >
            <label for="author" class="author-label"
              >Author {{ i + 1 }}:
            </label>
            <input
              v-model="configJson.Authors[i]"
              type="text"
              class="form-control"
              name="author"
              size="30"
              required="true"
            /><b-button
              variant="outlined"
              type="button"
              class="button-hover"
              @click="removeAuthor(i)"
            >
              <b-icon
                variant="danger"
                icon="dash-square-dotted"
                class="icon-margin"
              ></b-icon
            ></b-button>
          </div>

          <b-button
            class="d-flex gap-2 add-author-button button-hover"
            variant="outlined-primary"
            type="button"
            @click="addAuthor"
            ><b-icon
              variant="success"
              class="icon-margin"
              icon="plus-square-dotted"
            ></b-icon
            >Add an author</b-button
          >

          <div class="d-flex gap-4 mt-3">
            <label class="form-top-level-label" for="affiliation"
              >Affiliation:</label
            >
            <b-form-input
              v-model="configJson.Affiliation"
              type="text"
              name="affiliation"
              size="50"
            />
          </div>
          <div>
            <div class="form-info">
              The organisation your project is affiliated with.
            </div>
          </div>
        </div>
        <div class="d-flex gap-4 mt-3">
          <label class="form-top-level-label email-label" for="email"
            >Project email:</label
          >
          <b-form-input
            v-model="configJson.Email"
            type="text"
            name="email"
            size="50"
          />
        </div>
        <div class="form-info">
          The email address for people to contact your project.
        </div>
        <div v-if="titleOverride">
          <div class="d-flex mt-3">
            <label class="form-top-level-label override-title-label" for="title"
              >Override project title:</label
            >
            <b-form-input
              v-model="configJson.Title"
              type="text"
              name="title"
              size="50"
            />
          </div>

          <div class="form-info">
            By default your project title is the top level heading on your
            landing page. This setting can override that title.
          </div>
        </div>
      </div>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "ProjectDetails",

  components: {},

  data() {
    return {};
  },

  props: {
    configJson: Object,
    // Sets whether to ask for the title at the top (for new projects)
    // or at the bottom as an override in the config Editor
    titleOverride: { type: Boolean, default: true }
  },

  mounted() {},

  asyncComputed: {},
  methods: {
    addAuthor() {
      this.configJson.Authors.push("");
    },
    removeAuthor(i) {
      this.configJson.Authors.splice(i, 1);
    }
  },
  created() {}
};
</script>

<style scoped>
.author-label {
  width: 117px;
}
.add-author-button {
  width: 170px;
  margin-top: 10px;
  margin-left: 0px;
}
.email-label {
  width: 150px;
}

.override-title-label {
  width: 280px;
}

.button-hover:hover {
  background-color: #c0c0c0;
}
</style>
