<template>
  <b-card class="mt-3">
    <template #header>
      <h4 class="mb-0">Style Configuration</h4>
    </template>
    <div class="d-flex">
      <label class="form-top-level-label" for="primary-color">
        Primary Color:
      </label>
      <b-button
        variant="outlined"
        type="button"
        class="block-button d-flex gap-2 button-hover default-colors-button"
        @click="restoreDefaultColors"
      >
        <b-icon
          variant="info"
          icon="arrow-counterclockwise"
          class="icon-margin"
        ></b-icon
        >Restore default colors
      </b-button>
    </div>

    <div class="color-input">
      <div>{{ configJson.PrimaryColor }}</div>
      <v-input-colorpicker
        v-model="configJson.PrimaryColor"
        name="primary-color"
        class="v-input-colorpicker"
      />
    </div>
    <div class="form-info">
      Primary color of the documentation (default: #f1502f)
    </div>

    <label class="form-top-level-label" for="secondary-color">
      Secondary Color:
    </label>
    <div class="color-input">
      <div>{{ configJson.SecondaryColor }}</div>
      <v-input-colorpicker
        v-model="configJson.SecondaryColor"
        name="primary-color"
        class="v-input-colorpicker"
      />
    </div>
    <div class="form-info">
      Secondary color of the documentation (default: #cccccc)
    </div>

    <label class="form-top-level-label" for="hover-color">
      Hover Color:
    </label>
    <div class="color-input">
      <div>{{ configJson.HoverColor }}</div>
      <v-input-colorpicker
        v-model="configJson.HoverColor"
        name="hover-color"
        class="v-input-colorpicker"
      />
    </div>
    <div class="form-info">
      Hover color of the documentation (default: #555555)
    </div>

    <label class="form-top-level-label" for="remove-images-border">
      Remove Images Border:
    </label>
    <b-form-checkbox
      class="form-checkbox"
      v-model="configJson.RemoveImagesBorder"
      type="checkbox"
      name="remove-images-border"
    />
    <div class="form-info">
      Removes the border line from documentation images
    </div>

    <label class="form-top-level-label" for="remove-images-brackground">
      Remove Images Background:
    </label>
    <b-form-checkbox
      class="form-checkbox"
      v-model="configJson.RemoveImagesBackground"
      type="checkbox"
      name="remove-images-background"
    />
    <div class="form-info">
      Removes the border background color from documentation images
    </div>
  </b-card>
</template>
<script>
import InputColorPicker from "vue-native-color-picker";
export default {
  name: "StyleConfig",

  components: { "v-input-colorpicker": InputColorPicker },

  data() {
    return {};
  },

  props: {
    configJson: Object
  },

  mounted() {},
  created() {},
  methods: {
    restoreDefaultColors() {
      this.configJson.PrimaryColor = "#f1502f";
      this.configJson.SecondaryColor = "#cccccc";
      this.configJson.HoverColor = "#555555";
    }
  }
};
</script>

<style>
.color-input {
  display: flex;
  gap: 10px;
}

.d-flex {
  display: flex;
}

.default-colors-button {
  margin-left: auto;
}
</style>
