<div class=details-header>
{% if thumbnail is not none %}
    <div class=details-thumb-outer>
        <div class=details-thumb>
            {{thumbnail}}
        </div>
    </div>
{%endif %}
<div class=other-details>
{% if difficulty is not none %}
    <div class=detail>
        <b>Difficulty:</b> {{difficulty}}
    </div>
{%endif %}
{% if time is not none %}
    <div class=detail>
        <b>Time required:</b> {{time}}
    </div>
{%endif %}
{% if skills is not none %}
    <div class=detail>
        <b>Skills required:</b>
        <ul>
        {% for skill in skills %}
            <li>{{skill}}</li>
        {%endfor %}
        </ul>
    </div>
{%endif %}
{% if extra_details is not none %}
    {% for detail in extra_details %}
        <div class=detail>
            <b>{{detail[0]}}:</b> {{detail[1]}}
        </div>
    {%endfor %}
{%endif %}
</div>
</div>
