<style>all: initial;</style>
<link href="{{root}}static/style.css" rel="stylesheet">
{% for style in custom_style %}
<style>{{ style | safe }}</style>
{% endfor %}
<style>
.live-include{
  border: 1px dashed #00c;
}
.live-include-link{
  text-align: right;
  width: 100%;
  background-color: #ddf;
  font-size: 10pt;
  padding-right: 10px;
  box-sizing: border-box;
}
.live-include-link a{
  color: #00c;
  text-decoration: underline;;
}
.live-included-content{
  border-top: 1px dashed #00c;
}
.goto-line{
  width: 20px;
  float: left;
  margin-left: -22px;
  cursor: pointer;
}
.goto-line:hover{
  width: 25px;
}
</style>
{% include 'body.html.jinja' %}