<li>
    <a class="navhome" href="{{landing}}">
        {{title}}
    </a>
</li>
{% if include_search %}
<li id="nav-search" :class="focused && searchTerm.length > 0 ? 'search-result-popout' : 'search'" v-scope v-on:vue:mounted="mounted('{{root}}')">
  <input
    type="text"
    placeholder="Search..."
    v-on:input="search($event.target.value)"
    v-on:keypress="handleKeyPress"
    v-on:keyup.esc="$event.target.blur()"
    v-on:focus="handleFocus"
    v-on:blur="handleBlur"
    :value="searchTerm" />
    <div class="search-results" v-if="focused && searchTerm.length > 0">
        <div v-if="searchResults.length > 0">Results:</div>
        <div v-if="searchResults.length === 0">No results.</div>
        <template v-for="(result, index) in searchResults">
            <li>
                <a class="search-result" :href="`{{root}}${result.path}.html`">
               <span v-for="crumb in result.breadCrumbs.slice(0, -1)">
                ${crumb + ' > '}
                </span>
               ${result.title || result.breadCrumbs[result.breadCrumbs.length - 1]}
                <p>
                    <span v-for="node in result.highlightChars" :class="node.mark ? 'highlight' : ''" >${node.chars}</span>
                </p>
                </a>
            </li>
        </template>
    </div>
</li>
{% endif %}
{% for nav_item in navigation %}
<li class="{{nav_item['class']}}">
    <a class="{{nav_item['class']}}" href="{{root}}{{nav_item['link']}}">
        {{nav_item['title']}}
    </a>
    {% if 'subnavigation' in nav_item %}
    <ul class="sub-nav-list">
        {% for sub_nav_item in nav_item['subnavigation'] %}
        <li>
            <a class="{{sub_nav_item['class']}}" href="{{root}}{{sub_nav_item['link']}}">
                {{sub_nav_item['title']}}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</li>
{% endfor %}
