form button {
  margin: 5px;
}

.outer-form-element {
  padding: 0px 10px 10px 10px;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 10px;
  margin: 10px;
}

.form-label-like-title {
  padding-bottom: 5px;
  padding-top: 10px;
  font-weight: bold;
}

.form-top-level-label {
  display: block;
  margin-bottom: 5px;
  padding-top: 10px;
  font-weight: bold;
}

.form-info {
  display: block;
  font-size: small;
  font-style: italic;
  color: gray;
}

.form-select {
  display: inline;
}

